{% extends "core/base.html" %}
{% load static %}

{% block title %}Panel de Control{% endblock %}

{% block extra_head %}
  <script src="https://unpkg.com/lucide@latest"></script>
{% endblock %}

{% block content %}
<div class="dash-container">

  <div class="dashboard-header">
    <i data-lucide="layout-dashboard" class="lucide-icon"></i>
    <h1 class="title-panel">
      <span class="title-bold">Panel</span>
      <span class="title-glow">de Control</span>
    </h1>
  </div>

  <main class="dashboard-grid">

    <div class="card-option">
      <i data-lucide="car" class="lucide-icon-card"></i>
      <h3>Gestión de Vehículos</h3>
      <p>Registrar y listar vehículos del taller.</p>
      <a href="{% url 'mantenimiento:vehiculo-list' %}" class="btn">Ver Vehículos</a>
      <a href="{% url 'mantenimiento:vehiculo-create' %}" class="btn">Nuevo Vehículo</a>
    </div>

    <div class="card-option">
      <i data-lucide="wrench" class="lucide-icon-card"></i>
      <h3>Gestión de Mantenimientos</h3>
      <p>Consultar mantenimientos realizados.</p>
      <a href="{% url 'mantenimiento:mantenimiento-list' %}" class="btn">Ver Mantenimientos</a>
      <a href="{% url 'mantenimiento:mantenimiento-create' %}" class="btn">Nuevo Mantenimiento</a>
    </div>

    <div class="card-option">
      <i data-lucide="user-round" class="lucide-icon-card"></i>
      <h3>Gestión de Clientes</h3>
      <p>Registrar y listar clientes del taller.</p>
      <a href="{% url 'clientes:cliente-list' %}" class="btn">Ver Clientes</a>
      <a href="{% url 'clientes:cliente-create' %}" class="btn">Nuevo Cliente</a>
    </div>

    <div class="card-option">
      <i data-lucide="search-check" class="lucide-icon-card"></i>
      <h3>Búsqueda de Repuestos</h3>
      <p>Buscar repuestos en empresas registradas.</p>
      <a href="{% url 'repuestos:buscar_repuestos' %}" class="btn">Buscar Repuesto</a>
      <a href="{% url 'repuestos:repuesto_list' %}" class="btn">Ver Repuestos</a>
      <a href="{% url 'repuestos:repuesto_nuevo' %}" class="btn">Nuevo Repuesto</a>
    </div>

    <div class="card-option">
      <i data-lucide="store" class="lucide-icon-card"></i>
      <h3>Gestión de Empresas</h3>
      <p>Registrar y listar empresas proveedoras.</p>
      <a href="{% url 'repuestos:empresa-list' %}" class="btn">Ver Empresas</a>
      <a href="{% url 'repuestos:empresa-create' %}" class="btn">Nueva Empresa</a>
    </div>

  </main>
</div>

<script>
  lucide.createIcons();
</script>
{% endblock %}
