{% extends "core/base.html" %}
{% block title %}Eliminar Mantenimiento{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2 class="mb-4 text-danger">¿Estás seguro de que deseas eliminar este mantenimiento?</h2>

  <p><strong>Vehículo:</strong> {{ object.vehiculo.placa }}</p>
  <p><strong>Tipo de mantenimiento:</strong> {{ object.tipo_mantenimiento }}</p>
  <p><strong>Fecha:</strong> {{ object.fecha_mantenimiento }}</p>
  <p><strong>Costo:</strong> ${{ object.costo }}</p>

  <form method="post">
    {% csrf_token %}
    <a href="{% url 'mantenimiento:mantenimiento-list' %}" class="btn btn-secondary">Cancelar</a>
    <button type="submit" class="btn btn-danger">Eliminar</button>
  </form>
</div>
{% endblock %}
