{% extends "core/base.html" %}
{% load static %}

{% block content %}
  <h2>
    {% if view.object.pk %}
      Editar Mantenimiento
    {% else %}
      Nuevo Mantenimiento
    {% endif %}
  </h2>

  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <fieldset>
      <legend>Datos del mantenimiento</legend>
      {{ form.as_p }}
    </fieldset>

    <fieldset>
      <legend>Repuestos asociados</legend>
      {{ repuesto_formset.management_form }}
      {% for f in repuesto_formset %}
        <div class="form-row">
          {{ f.id }}
          <p>
            {{ f.repuesto.label_tag }} {{ f.repuesto }}
            {{ f.cantidad.label_tag }} {{ f.cantidad }}
            {{ f.DELETE }} <label for="{{ f.DELETE.id_for_label }}">Eliminar</label>
          </p>
          {% if f.non_field_errors %}
            <ul class="errorlist">
              {% for error in f.non_field_errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% endfor %}
    </fieldset>

    <button type="submit">Guardar</button>
  </form>
{% endblock %}
